<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef App</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>

    <div>
        
        <%- include('partials/navbar.ejs') %>


        <ul>
        <% items.forEach(item=>{ %>
            <li data-id="<%= item._id %>" >
                <div>
                    <img src="./images/<%= item.image %>">
                </div>
                    <div>
                        <h5>Name: <%= item.name %></h5>
                        <p>
                            Description:<br><%= item.description %><br>
                            
                        </p>
                    </div>

                    <div>
                        <a href="/edit/<%= item._id %>">Edit</a>
                        <form action="/delete/<%= item._id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
            </li>
        <% }) %>

        </ul>

        <%- include('partials/footer.ejs') %>


    </div>
</body>
</html>