<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef App</title>
</head>
<body>

    <div>
        
        <div>
            <ul>
                <li>ChefApp</li>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
            </ul>
        </div>

        <% items.forEach(item=>{ %>
            <div>
                <div>
                    <img src="./images/<%= item.image %>">
                </div>
                    <div>
                        <h5>Name: <%= item.name%></h5>
                        <p>
                            Description:<br><%= item.description%><br>
                            
                        </p>
                    </div>

                    <div>
                        <a href="/edit/<%= item._id %>">Edit</a>
                        <form action="/delete/<%= item._id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
            </div>
        <% }) %>
    </div>
</body>
</html>